In [3]:
import pandas as pd

In [6]:
df=pd.read_csv("merged_employee_data.csv")

In [7]:
df.head()

,EmployeeID,Name,Department,Role,PunchTimeIn,PunchTimeOut,TimeZone,IsLatePunchIn,IsEarlyPunchOut,created_date,...,LeaveReason,LeaveType,LeaveApprovalStatus,Title,StartTime,EndTime,Status,ActiveTime,IdealTime,Duration
0,1,Pamela Lin,Sales,Sales Representative,16-01-2025 14:50,16-01-2025 14:18,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,Punch In,07-12-2024 08:39,07-12-2024 16:02,Unproductive,0.0,0,242.0
1,1,Pamela Lin,Sales,Sales Representative,16-01-2025 14:50,16-01-2025 14:18,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,Punch Out,13-01-2025 09:12,13-01-2025 17:11,Neutral,185.0,0,237.0
2,1,Pamela Lin,Sales,Sales Representative,16-01-2025 14:50,16-01-2025 14:18,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,MyZen - alkesh,01-12-2024 07:10,01-12-2024 18:04,Productive,12.0,0,12.0
3,1,Pamela Lin,Sales,Sales Representative,16-01-2025 14:50,16-01-2025 14:18,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,We360.ai and 1 more page - School - Microsoft​...,09-11-2024 09:18,09-11-2024 16:44,Productive,171.0,17,222.0
4,1,Pamela Lin,Sales,Sales Representative,16-01-2025 14:50,16-01-2025 14:18,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,NaN,20-12-2024 09:11,20-12-2024 19:54,Neutral,0.0,18,52.0

In [17]:
df.columns

Index(['EmployeeID', 'Name', 'Department', 'Role', 'PunchTimeIn',
       'PunchTimeOut', 'TimeZone', 'IsLatePunchIn', 'IsEarlyPunchOut',
       'created_date', 'LeaveStartDate', 'LeaveEndDate', 'approval_time',
       'LeaveReason', 'LeaveType', 'LeaveApprovalStatus', 'Title', 'StartTime',
       'EndTime', 'Status', 'ActiveTime', 'IdealTime', 'Duration'],
      dtype='object')

In [82]:
var=df.iloc[:4365,]
var.tail()

,EmployeeID,Name,Department,Role,PunchTimeIn,PunchTimeOut,TimeZone,IsLatePunchIn,IsEarlyPunchOut,created_date,...,LeaveReason,LeaveType,LeaveApprovalStatus,Title,StartTime,EndTime,Status,ActiveTime,IdealTime,Duration
4360,10,Walter Garcia,Sales,Account Executive,2025-11-01 04:42:00,2025-11-01 12:43:00,Asia/Kolkata,False,False,23:36.8,...,ye mana kar ke dikha,Unpaid,REJECTED,canva.com - Google Chrome,2025-03-01 09:00:00,2025-03-01 18:52:00,Neutral,3.0,0,3.0
4361,10,Walter Garcia,Sales,Account Executive,2025-11-01 04:42:00,2025-11-01 12:43:00,Asia/Kolkata,False,False,23:36.8,...,ye mana kar ke dikha,Unpaid,REJECTED,Home - Canva - Google Chrome,2024-12-24 07:42:00,2024-12-24 17:15:00,Neutral,2.0,0,2.0
4362,10,Walter Garcia,Sales,Account Executive,2025-11-01 04:42:00,2025-11-01 12:43:00,Asia/Kolkata,False,False,23:36.8,...,ye mana kar ke dikha,Unpaid,REJECTED,Design - Canva - Google Chrome,2024-12-26 09:46:00,2024-12-26 18:37:00,Neutral,1.0,2,1.0
4363,10,Walter Garcia,Sales,Account Executive,2025-11-01 04:42:00,2025-11-01 12:43:00,Asia/Kolkata,False,False,23:36.8,...,ye mana kar ke dikha,Unpaid,REJECTED,REPUBLIC - Canva - Google Chrome,2024-12-24 09:09:00,2024-12-24 17:42:00,Neutral,10.0,191,10.0
4364,10,Walter Garcia,Sales,Account Executive,2025-11-01 04:42:00,2025-11-01 12:43:00,Asia/Kolkata,False,False,23:36.8,...,ye mana kar ke dikha,Unpaid,REJECTED,REPUBLIC - Instagram Post - Canva - Google Chrome,2024-10-11 08:09:00,2024-10-11 18:48:00,Productive,1.0,203,1.0

In [83]:

var.loc[:, "LeaveStartDate"] = pd.to_datetime(var["LeaveStartDate"], format='mixed')
var.loc[:, "LeaveEndDate"] = pd.to_datetime(var["LeaveEndDate"], format='mixed')
var.loc[:, "StartTime"] = pd.to_datetime(var["StartTime"], format='mixed')
var.loc[:, "EndTime"] = pd.to_datetime(var["EndTime"], format='mixed')
var.loc[:, "PunchTimeIn"] = pd.to_datetime(var["PunchTimeIn"], format='mixed')
var.loc[:, "PunchTimeOut"] = pd.to_datetime(var["PunchTimeOut"], format='mixed')

In [85]:
filtered_var = var[var["Name"] == "Pamela Lin"]
filtered_var['StartTime'].head()

0    2024-07-12 08:39:00
1    2025-01-13 09:12:00
2    2024-01-12 07:10:00
3    2024-09-11 09:18:00
4    2024-12-20 09:11:00
Name: StartTime, dtype: object

In [90]:
var.to_csv('final_file_1.csv',index=True)

In [91]:
var.isnull().sum()

EmployeeID               0
Name                     0
Department               0
Role                     0
PunchTimeIn              0
PunchTimeOut           447
TimeZone                 0
IsLatePunchIn            0
IsEarlyPunchOut          0
created_date             0
LeaveStartDate           0
LeaveEndDate             0
approval_time            0
LeaveReason              0
LeaveType                0
LeaveApprovalStatus      0
Title                    0
StartTime                0
EndTime                  0
Status                   0
ActiveTime               0
IdealTime                0
Duration                 0
dtype: int64

In [92]:
x=var["PunchTimeOut"].mode()[0]
y=var["approval_time"].mode()[0]
z=var["Title"].mode()[0]

In [93]:
var = var.copy()

var.fillna({"PunchTimeOut": x, "approval_time": y, "Title": z}, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_2804\1128230162.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var.fillna({"PunchTimeOut": x, "approval_time": y, "Title": z}, inplace=True)

In [94]:
var.to_csv("output_2.csv",index=True)

In [96]:
var.columns

Index(['EmployeeID', 'Name', 'Department', 'Role', 'PunchTimeIn',
       'PunchTimeOut', 'TimeZone', 'IsLatePunchIn', 'IsEarlyPunchOut',
       'created_date', 'LeaveStartDate', 'LeaveEndDate', 'approval_time',
       'LeaveReason', 'LeaveType', 'LeaveApprovalStatus', 'Title', 'StartTime',
       'EndTime', 'Status', 'ActiveTime', 'IdealTime', 'Duration'],
      dtype='object')

In [97]:
var.head()

,EmployeeID,Name,Department,Role,PunchTimeIn,PunchTimeOut,TimeZone,IsLatePunchIn,IsEarlyPunchOut,created_date,...,LeaveReason,LeaveType,LeaveApprovalStatus,Title,StartTime,EndTime,Status,ActiveTime,IdealTime,Duration
0,1,Pamela Lin,Sales,Sales Representative,2025-01-28 14:50:00,2025-01-28 14:18:00,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,Punch In,2024-07-24 08:39:00,2024-07-24 16:02:00,Unproductive,0.0,0,242.0
1,1,Pamela Lin,Sales,Sales Representative,2025-01-28 14:50:00,2025-01-28 14:18:00,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,Punch Out,2025-01-25 09:12:00,2025-01-25 17:11:00,Neutral,185.0,0,237.0
2,1,Pamela Lin,Sales,Sales Representative,2025-01-28 14:50:00,2025-01-28 14:18:00,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,MyZen - alkesh,2024-01-24 07:10:00,2024-01-24 18:04:00,Productive,12.0,0,12.0
3,1,Pamela Lin,Sales,Sales Representative,2025-01-28 14:50:00,2025-01-28 14:18:00,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,We360.ai and 1 more page - School - Microsoft​...,2024-09-23 09:18:00,2024-09-23 16:44:00,Productive,171.0,17,222.0
4,1,Pamela Lin,Sales,Sales Representative,2025-01-28 14:50:00,2025-01-28 14:18:00,Asia/Calcutta,True,False,48:41.4,...,going for leave,Emergency,APPROVED,-,2025-01-01 09:11:00,2025-01-01 19:54:00,Neutral,0.0,18,52.0

In [98]:
filtered_var['StartTime'].tail()

358    2024-08-12 07:10:00
359    2024-10-11 07:14:00
360    2024-11-23 07:41:00
361    2024-12-13 07:02:00
362    2024-11-16 09:10:00
Name: StartTime, dtype: object

In [76]:
import pandas as pd

# Ensure var is a full copy
var = var.copy(deep=True)

# Convert relevant columns to datetime (forcing errors to NaT safely)
datetime_cols = ["PunchTimeIn", "PunchTimeOut", "LeaveStartDate", "LeaveEndDate", "StartTime", "EndTime"]
for col in datetime_cols:
    var[col] = pd.to_datetime(var[col], format='mixed', errors='coerce')

# Add 12 days safely (vectorized way)
for col in datetime_cols:
    var[col] = var[col] + pd.Timedelta(days=12)

In [77]:
var['StartTime'].head()

0   2026-01-15 08:39:00
1   2026-07-19 09:12:00
2   2025-07-17 07:10:00
3   2026-03-17 09:18:00
4   2026-06-25 09:11:00
Name: StartTime, dtype: datetime64[ns]

In [78]:
var.to_csv("output_8.csv",index=True)

In [99]:
x=(12)*2*3
x*4467

321624

In [102]:
import pandas as pd

# Ensure var is a full deep copy
var = var.copy(deep=True)

# Convert datetime columns properly
datetime_cols = ["PunchTimeIn", "PunchTimeOut", "LeaveStartDate", "LeaveEndDate", "StartTime", "EndTime"]
for col in datetime_cols:
    var[col] = pd.to_datetime(var[col], format='mixed', errors='coerce')

# Now loop i from 0 to 24
for i in range(0, 25):  # 0 to 24 inclusive
    temp_var = var.copy(deep=True)  # fresh copy each time
    
    for col in datetime_cols:
        temp_var[col] = temp_var[col] + pd.Timedelta(days=12+(i*12))
    
    # Create output
    temp_var.to_csv(f"output_plus_{i}.csv", index=False)
    print(f"output_plus_{i}.csv")

output_plus_0.csv
output_plus_1.csv
output_plus_2.csv
output_plus_3.csv
output_plus_4.csv
output_plus_5.csv
output_plus_6.csv
output_plus_7.csv
output_plus_8.csv
output_plus_9.csv
output_plus_10.csv
output_plus_11.csv
output_plus_12.csv
output_plus_13.csv
output_plus_14.csv
output_plus_15.csv
output_plus_16.csv
output_plus_17.csv
output_plus_18.csv
output_plus_19.csv
output_plus_20.csv
output_plus_21.csv
output_plus_22.csv
output_plus_23.csv
output_plus_24.csv

In [105]:
import pandas as pd

# Step 1: List of all your CSV filenames
file_list = [
    "output_2.csv",
    "output_plus_0.csv",
    "output_plus_1.csv",
    "output_plus_2.csv",
    "output_plus_3.csv",
    "output_plus_4.csv",
    "output_plus_5.csv",
    "output_plus_6.csv",
    "output_plus_7.csv",
    "output_plus_8.csv",
    "output_plus_9.csv",
    "output_plus_10.csv",
    "output_plus_11.csv",
    "output_plus_12.csv",
    "output_plus_13.csv",
    "output_plus_14.csv",
    "output_plus_15.csv",
    "output_plus_16.csv",
    "output_plus_17.csv",
    "output_plus_18.csv",
    "output_plus_19.csv",
    "output_plus_20.csv",
    "output_plus_21.csv",
    "output_plus_22.csv",
    "output_plus_23.csv",
    "output_plus_24.csv"
]

# Step 2: Read, drop 'Unnamed: 0', and collect dataframes
dfs = []
for file in file_list:
    df = pd.read_csv(file)
    if 'Unnamed: 0' in df.columns:
        df = df.drop(columns=['Unnamed: 0'])
    dfs.append(df)

# Step 3: Merge into one DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Step 4: Sort by EmployeeID
merged_df.sort_values(by="EmployeeID", inplace=True)

# Step 5: Save final CSV
merged_df.to_csv("final_merged_output.csv", index=False)

print("✅ All CSVs merged, 'Unnamed: 0' dropped, and saved as final_merged_output.csv")

✅ All CSVs merged, 'Unnamed: 0' dropped, and saved as final_merged_output.csv

In [106]:
var.shape

(4365, 23)